body,
.fondo {
    background: #DCDCDC;
}

.titulo {
    font-weight: 700;
    font-family: 'Fredericka the Great', cursive;
}

.perfil {
    border-radius: 0%;
    border: none;
    border-style: none;
    margin-right: 0px;
    box-shadow: none;
    background: none;
}

.perfil:focus {
    border-radius: 0%;
    border: none;
    border-style: none;
    margin-right: 0px;
    background: none;
    box-shadow: none;
}

.img1 {
    background: #336666;
    border-radius: 0px;
    border-style: none;
    transition: 0.5s;
    border: 4px #1f1f1f solid;
    box-shadow: none;
}

.img1:hover {
    border: 4px white solid;
    box-shadow: none;
}

.img2 {
    background: #FF9900;
    border-radius: 0px;
    border-style: none;
    transition: 0.5s;
    border: 4px #1f1f1f solid;
    box-shadow: none;
}

.img2:hover {
    border: 4px white solid;
    box-shadow: none;
}

.img3 {
    background: #3399CC;
    border-radius: 0px;
    border-style: none;
    transition: 0.5s;
    border: 4px #1f1f1f solid;
    box-shadow: none;
}

.img3:hover {
    border: 4px white solid;
    box-shadow: none;
}

.img4 {
    background: #FFFF99;
    border-radius: 0px;
    border-style: none;
    transition: 0.5s;
    border: 4px #1f1f1f solid;
    box-shadow: none;
}

.img4:hover {
    border: 4px white solid;
    box-shadow: none;
}

.img5 {
    background: #6699FF;
    border-radius: 0px;
    border-style: none;
    transition: 0.5s;
    border: 4px #1f1f1f solid;
    box-shadow: none;
}

.img5:hover {
    border: 4px white solid;
    box-shadow: none;
}

p {
    font-weight: 700;
    font-size: 20px;
    font-family: 'Chewy', cursive;
}